@import '{}/node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.gapped {
  padding-bottom: 10px;
  padding-top: 10px;
}
.indented {
  margin-left: 20px;
}
.adjacent {
  display: inline-block;
  padding: 5px;
}
.spaced {
  padding-left: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.centerDiv {
  text-align: center;
}
.banner {
  width: 100%;
  height: 100px;
}
.verticalAlign {
  display: block;
  padding: 5px;
}
.board {
  height: 600px;
  width: 900px;
}
.relative {
  position: relative;
}
.right {
  float: right;
}
.blank {
  padding-top: 30px;
}
