<h2 class="indented">{{ gameView.game.title }}</h2>
<button class="center btn btn-lg btn-info" ng-click="gameView.snitchAppears()" ng-disabled="gameView.game.snitch.hasAppeared">Snitch Appears!</button>
<div style="text-align:center">
  <div class="mainDiv" ng-repeat="team in gameView.game.teams track by team._id">
    <h3 class="gapped indented">
      <strong>
        {{ team.name }}
      </strong>
      <div class="gapped indented">
        <h4>
          <strong>
            Chasers
          </strong>
        </h4>
        <h5 class="indented" ng-repeat="chaser in team.chasers track by chaser._id">
          <strong>
            {{ chaser.lastName }}, {{ chaser.firstName }}
          </strong>
          <p class="gapped">
            <button class="btn btn-sm btn-success" ng-click="chaser.shoot()" ng-disabled="gameView.game.hasEnded">Shoot</button>&nbsp;
            <button class="btn btn-sm btn-warning" ng-click="chaser.miss()" ng-disabled="gameView.game.hasEnded">Miss</button>&nbsp;
          </p>
        </h5>
        <h4>
          <strong>
            Keeper
          </strong>
        </h4>
        <h5 class="indented">
          <strong>
            {{ team.keeper.lastName }}, {{ team.keeper.firstName }}
          </strong>
          <p></p>
          <p class="adjacent gapped">
            Block:&nbsp;
            <div class="adjacent" ng-repeat="chaser in team.keeper.getEnemyChasers(gameView.game.teams[0], gameView.game.teams[1]) track by chaser._id">
              <button class="btn btn-sm btn-primary" ng-click="team.keeper.block(chaser)" ng-disabled="gameView.game.hasEnded">
                {{ chaser.lastName }}, {{ chaser.firstName }}
              </button>
            </div>
          </p>
        </h5>
        <h4>
          <strong>
            Seeker
          </strong>
        </h4>
        <h5 class="indented">
          <strong>
            {{ team.seeker.lastName }}, {{ team.seeker.firstName }}
          </strong>
          <p class="gapped">
            <button class="btn btn-sm btn-danger" ng-click="team.seeker.catch(gameView.game.snitch)" ng-disabled="gameView.game.hasEnded || !gameView.game.snitch.hasAppeared">
              Catch Snitch
            </button>
          </p>
        </h5>
      </div>
    </h3>
  </div>
</div>
