<div>
  <h2 class="indented">
    <strong>
      {{ gameView.game.title }}
    </strong>
  </h2>
  <div class="adjacent" ng-if="gameView.hasCommentator">
    <div class="centerDiv">
      <button class="center btn btn-lg btn-info" ng-click="gameView.game.snitch.appears()" ng-disabled="gameView.game.snitch.hasAppeared">Snitch Appears!</button>
      <div class="adjacent" ng-repeat="team in gameView.game.teams track by team._id">
        <h3 class="gapped indented">
          <h1 ng-if="gameView.game.hasEnded && gameView.game.winner._id === team._id">
            Champion
          </h1>
          <h1 ng-if="gameView.game.hasEnded && gameView.game.winner._id !== team._id">
            Challenger
          </h1>
          <h2>
            <strong>
              {{ team.name }}
            </strong>
          </h2>
          <h2>
            Score: {{ team.score }}
          </h2>
          <div class="gapped indented">
            <h4>
              <strong>
                Chasers
              </strong>
            </h4>
            <h5 class="indented" ng-repeat="chaser in team.chasers track by chaser._id">
              <strong>
                {{ chaser.lastName }}, {{ chaser.firstName }}
              </strong>
              <p class="gapped">
                <button class="btn btn-sm btn-success" ng-click="chaser.shoot()" ng-disabled="gameView.game.hasEnded">Shoot</button>&nbsp;
                <button class="btn btn-sm btn-warning" ng-click="chaser.miss()" ng-disabled="gameView.game.hasEnded">Miss</button>&nbsp;
              </p>
            </h5>
            <h4>
              <strong>
                Keeper
              </strong>
            </h4>
            <h5 class="indented">
              <strong>
                {{ team.keeper.lastName }}, {{ team.keeper.firstName }}
              </strong>
              <p></p>
              <p class="adjacent gapped">
                Block:&nbsp;
                <div class="adjacent" ng-repeat="enemyChaser in gameView.getEnemyChasers(team.keeper, gameView.game.teams) track by enemyChaser._id">
                  <button class="btn btn-sm btn-primary" ng-click="team.keeper.block(enemyChaser)" ng-disabled="gameView.game.hasEnded">
                    {{ enemyChaser.lastName }}, {{ enemyChaser.firstName }}
                  </button>
                </div>
              </p>
            </h5>
            <h4>
              <strong>
                Seeker
              </strong>
            </h4>
            <h5 class="indented">
              <strong>
                {{ team.seeker.lastName }}, {{ team.seeker.firstName }}
              </strong>
              <p class="gapped">
                <button class="btn btn-sm btn-danger" ng-click="team.seeker.catch(gameView.game.snitch)" ng-disabled="gameView.game.hasEnded || !gameView.game.snitch.hasAppeared">
                  Catch Snitch
                </button>
              </p>
            </h5>
          </div>
        </h3>
      </div>
    </div>
  </div>

  <div class="adjacent" ng-if="gameView.hasCommentator">
    <div class="panel panel-warning">
        <div class="panel-heading">Events</div>
        <div class="panel-body pre-scrollable board">
          <div ng-repeat="event in gameView.game.events track by event._id | orderBy:'-date':true">
            <p ng-if="event.notificationType === 'goal counted'">
              {{ gameView.getDefaulUTCTime(event.date) }}:
              <strong>
                {{ event.goal.chaser.lastName.charAt(0) }} {{ event.goal.chaser.firstName }}'s
              </strong>
              shot scored 10 points
            </p>
            <p ng-if="event.notificationType === 'goal missed'">
              {{ gameView.getDefaulUTCTime(event.date) }}:
              <strong>
                {{ event.goal.chaser.lastName.charAt(0) }} {{ event.goal.chaser.firstName }}'s
              </strong>
              shot missed
            </p>
            <p ng-if="event.notificationType === 'goal blocked'">
              {{ gameView.getDefaulUTCTime(event.date) }}:
              <strong>
                {{ event.goal.keeper.lastName.charAt(0) }} {{ event.goal.keeper.firstName }}
              </strong>
              blocked
              <strong>
                {{ event.goal.keeper.lastName.charAt(0) }} {{ event.goal.keeper.firstName }}'s
              </strong>
              shot
            </p>
            <p ng-if="event.notificationType === 'snitch caught'">
              {{ gameView.getDefaulUTCTime(event.date) }}:
              <strong>
                {{ event.seeker.lastName.charAt(0) }} {{ event.seeker.firstName }}
              </strong>
              caught the snitch! The snitch lasted for
              {{ gameView.format(event.snitch.duration) }}
              ! The Game ends!
            </p>
            <p ng-if="event.notificationType === 'snitch appeared'">
              {{ gameView.getDefaulUTCTime(event.date) }}:
              <strong>
                The snitch has appeared!
              </strong>
            </p>
          </div>
        </div>
    </div>
  </div>

  <div class="adjacent indented" ng-if="!gameView.hasCommentator">
    <div class="panel panel-warning">
        <div class="panel-heading">Events</div>
        <div class="panel-body pre-scrollable board">
          <div ng-repeat="event in gameView.game.events track by event._id | orderBy:'-date':true">
            <p ng-if="event.notificationType === 'goal counted'">
              {{ gameView.getDefaulUTCTime(event.date) }}:
              <strong>
                {{ event.goal.chaser.lastName.charAt(0) }} {{ event.goal.chaser.firstName }}'s
              </strong>
              shot scored 10 points
            </p>
            <p ng-if="event.notificationType === 'goal missed'">
              {{ gameView.getDefaulUTCTime(event.date) }}:
              <strong>
                {{ event.goal.chaser.lastName.charAt(0) }} {{ event.goal.chaser.firstName }}'s
              </strong>
              shot missed
            </p>
            <p ng-if="event.notificationType === 'goal blocked'">
              {{ gameView.getDefaulUTCTime(event.date) }}:
              <strong>
                {{ event.goal.keeper.lastName.charAt(0) }} {{ event.goal.keeper.firstName }}
              </strong>
              blocked
              <strong>
                {{ event.goal.keeper.lastName.charAt(0) }} {{ event.goal.keeper.firstName }}'s
              </strong>
              shot
            </p>
            <p ng-if="event.notificationType === 'snitch caught'">
              {{ gameView.getDefaulUTCTime(event.date) }}:
              <strong>
                {{ event.seeker.lastName.charAt(0) }} {{ event.seeker.firstName }}
              </strong>
              caught the snitch! The snitch lasted for
              {{ gameView.format(event.snitch.duration )}} (hh:mm)
              ! The Game ends!
            </p>
            <p ng-if="event.notificationType === 'snitch appeared'">
              {{ gameView.getDefaulUTCTime(event.date) }}:
              <strong>
                The snitch has appeared!
              </strong>
            </p>
          </div>
        </div>
    </div>
  </div>


  <div class="container adjacent indented" ng-repeat="team in gameView.game.teams track by team._id">
  <h2>{{ team.name }}</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Lastname
        </th>
        <th>
          Firstname
        </th>
        <th>
          Position
        </th>
        <th>
          Goals
        </th>
        <th>
          Misses
        </th>
        <th>
          Blocked Goals
        </th>
        <th>
          Score
        </th>
        <th>
          Accuracy
        </th>
        <th>
          Blocks
        </th>
        <th>
          Snitch Catcher
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="chaser in team.chasers track by chaser._id">
        <td>
          {{ chaser.lastName }}
        </td>
        <td>
          {{ chaser.firstName }}
        </td>
        <td>
          Chaser
        </td>
        <td>
          {{ chaser.goals }}
        </td>
        <td>
          {{ chaser.misses }}
        </td>
        <td>
          {{ chaser.blockedGoals}}
        </td>
        <td>
          {{ chaser.score }}
        </td>
        <td>
          {{ chaser.accuracy | number }}%
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
      </tr>
      <tr>
        <td>
          {{ team.keeper.lastName }}
        </td>
        <td>
          {{ team.keeper.firstName }}
        </td>
        <td>
          Keeper
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td>
          {{ team.keeper.blocks }}
        </td>
        <td>
          -
        </td>
      </tr>
      <tr>
        <td>
          {{ team.seeker.lastName }}
        </td>
        <td>
          {{ team.seeker.firstName }}
        </td>
        <td>
          Seeker
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td>
          <p ng-if="!gameView.game.snitch.isCaught">
            -
          </p>
          <p ng-if="gameView.game.snitch.seekerId === team.seeker._id && gameView.game.hasEnded">
            Yes
          </p>
          <p ng-if="gameView.game.snitch.seekerId !== team.seeker._id && gameView.game.hasEnded">
            No
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  </div>


</div>
