<div class="indented">
	<h2>
		<strong>
			Login
		</strong>
	</h2>
	<div style="display: block;" class="table-responsive form-group">
		<table cellpadding="2">
			<tr>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					<strong>Username: </strong>
				</td>
				<td>
					<input type="text" class="indented col-sm-12 col-lg-9 col-xs-8 col-md-9 input-sm form-control" ng-model="commentatorLogin.user.username">
				</td>
			</tr>
			<tr>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					<strong>Password: </strong>
				</td>
				<td>
					<input type="password" class="indented col-sm-12 col-lg-9 col-xs-8 col-md-9 input-sm form-control" ng-model="commentatorLogin.user.password">
				</td>
			</tr>
			<tr>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					<button class="btn btn-success" ng-click="commentatorLogin.login()">Submit</button>
				</td>
			</tr>
		</table>
	</div>
</div>
